footer.footer 
    .container
        .main-footer
            .main-footer__info 
                .ModuleContent
                    .main-footer__content.main-footer__content--1
                        h3 Công Ty cổ phần dược phẩm Thiên Dược 
                        strong Trụ sở chính:
                        p Lô F3 đường N5, KCN Nam Tân Uyên, Tân Uyên , Bình Dương
                        p Tel: (0274) 3 653 071 - 3 653 072 - 3 653 073 - Fax: (0274) 3653074
                    .main-footer__content.main-footer__content--2
                        strong Văn phòng đại diện:
                        p 163/48 Thành Thái , P.14 , Q.10 , TP.HCM
                        p Tel: (028) 62647547 - 62647552
                    .main-footer__content.main-footer__content--3
                        strong Chi nhánh:
                        p 22 Ngũ Xã, P. Trúc Bạch, Q. Ba Đình, Hà Nội
                        p Tel: (024) 62963787
            .main-footer__menu-wrapper
                .main-footer__menu 
                    h3 Giới thiệu
                    ul.main-footer__menu-list 
                        li.main-footer__menu-item 
                            a(href="") Người sáng lập
                        li.main-footer__menu-item 
                            a(href="") Công ty Thiên Dược
                        li.main-footer__menu-item 
                            a(href="") Vùng trồng nguyên liệu
                        li.main-footer__menu-item 
                            a(href="") Nhà máy sản xuất
                        li.main-footer__menu-item 
                            a(href="") Giải thưởng - Chứng nhận
                        li.main-footer__menu-item 
                            a(href="") Hỏi đáp
                .main-footer__menu 
                    h3 Sản phẩm
                    ul.main-footer__menu-list 
                        li.main-footer__menu-item 
                            a(href="") Thiên Hoàng Sa
                        li.main-footer__menu-item 
                            a(href="") Crila@
                        li.main-footer__menu-item 
                            a(href="") Crilin@
                        li.main-footer__menu-item 
                            a(href="") Crila@Forte
        ul.social-icon
            li
                a.fb(href="#")
                    em.fab.fa-facebook-f
            li 
                a(href="")
                    em.fab.fa-instagram
            li
                a.ytb(href="#")
                    em.fab.fa-youtube
    
        .copyright
            ul
                li
                    a(href="#") Điều khoản sử dụng
                li
                    a(href="#") Chính sách bảo mật
                li 
                    a(href="") Sơ đồ trang web
            p Copyright © 2020 Thiên Dược. Tất cả quyền được bảo mật. Thiết kế website bởi 
                a(href="") Cánh Cam.
    #back-to-top 
        em.lnr.lnr-chevron-up

                    

