header.header 
    .container 
        .nav 
            .nav__toggle-btn 
                .button 
            .nav__menu-left
                ul.menu
                    li.menu__item
                        a.menu__link(href="") Trang chủ
                            em.lnr.lnr-home 
                    li.menu__item
                        a.menu__link(href="") Giới thiệu
                    li.menu__item
                        a.menu__link(href="") Sản phẩm 
                    li.menu__item
                        a.menu__link(href="") Hệ thống phân phối
                    li.menu__item
                        a.menu__link(href="") Tư vấn
            .nav__logo 
                a.logo(href="") 
                    img(src="./img/logo-thienduoc.png", alt="")
            .nav__menu-right 
                ul.menu
                    li.menu__item
                        a.menu__link(href="") Tin tức 
                    li.menu__item
                        a.menu__link(href="") truyền thông 
                    li.menu__item
                        a.menu__link(href="") Công nghệ
            .search-wrap 
                .button-search 
                    em.lnr.lnr-magnifier
                .search-box-wrap
                    .searchbox
                        input(type="text", name="")
                        button(type="submit") 
                            em.fas.fa-search
            .language 
                a(href="#") EN
            .hotline 
                .ModuleContent
                    em.lnr.lnr-phone-handset.call
                    .number
                        span 1800 6045 
                        span Miễn cước
            .nav__nav-mobile 
            .back-drop 
            




