.news-detail
    .container 
        h2.main-title Thiên Dược được tuyên dương là Doanh nghiệp KHCN có thành tích xuất sắc năm 2017
        .heading 
            date 20/10/12 
            ul.social-share
                    li
                        a.twt(href="#")
                            em.fab.fa-twitter
                    li
                        a.fb(href="#")
                            em.fab.fa-facebook-f
                    li
                        a.yt(href="#")
                            em.fab.fa-youtube
        .full-content 
            p Ngày 20/12/2017, Bộ Khoa Học Công nghệ kết hợp với Cục phát triển thị trường và doanh nghiệp Khoa học công nghệ, phối hợp với Trung tâm nghiên cứu ứng dụng Phát triển thương hiệu việt – liên hiệp các hôi khoa học và kỹ thuật tổ chức Hội nghị Phát triển doanh nghiệp khoa học công nghệ năm 2017 và Lễ tuyên dương các doanh nghiệp khoa học công nghệ tiêu biểu và các doanh nghiệp thương mại hóa thành công sản phẩm hình thành từ nghiên cứu khoa học và phát triển công nghệ tiêu biểu năm 2017.
            p Tham dự và chỉ đạo Hội nghị có ông Trần Văn Tùng, Thứ trưởng Bộ KH&CN; đại diện lãnh đạo các Cục, Vụ, Viện liên quan của Bộ KH&CN; đại diện lãnh đạo một số Sở KH&CN và gần 200 đại biểu đại diện cho các DN KH&CN, DN tiềm năng trở thành DN KH&CN, các Viện nghiên cứu, Trường đại học, Hiệp hội, nhà khoa học…
            img(src="./img/new-dt-1.png", alt="")
            p Các cơ quan quản lý và các doanh nghiệp KHCN và doanh nghiệp tiềm năng trở thành doanh nghiệp Khoa học công nghệ đã có buổi trao đổi tích cực, xây dựng, góp phần giải quyết những khó khăn, vướng mắc trong quá trình phát triển xây dựng khoa học công nghệ. Tại hội nghị, các doanh nghiệp có cơ hội được chia sẽ, kết nối và học hỏi kinh nghiệm. Cục Phát triển Thị trường và DN và KH&CN, các sở Khoa học ở các địa phương cũng đã khẳng định sẽ hỗ trợ và giúp đỡ DN phát triển trong lĩnh vực này, đẩy mạnh công tác tuyên truyền và hướng dẫn các chính sách của Nhà nước về lĩnh vực phát triển doanh nghiệp khoa học công nghệ…
            img(src="./img/news-dt-2.png", alt="")
            p Cũng tại Hội nghị, Cục Phát triển Thị trường và DN KH&CN đã trao Giấy chứng nhận cho 26 DN KH&CN đã có thành tích xuất sắc trong ứng dụng và phát triển KH&CN và 16 DN có thành tích xuất sắc trong ứng dụng và phát triển công nghệ. Là doanh nghiệp có nhiều thành tích đóng góp cho sự nghiệp phát triển khoa học công nghệ của tỉnh Bình Dương, công ty TNHH Thiên Dược cũng là 1 trong những đơn vị tiêu biểu được vinh danh.
    .other-news
        .container 
            h2.main-title Truyền thông
            .other-news__slider
                .swiper-container 
                    .swiper-wrapper 
                        -for(i=0; i<5; i++)
                            .swiper-slide 
                                .other-news__item 
                                    a(href="").img 
                                        img(src="./img/news-1.png", alt="")
                                    .caption 
                                        date 20/11
                                        a(href="").title Nữ tiến sĩ dành cả đời vì ngành dược Thuần Việt 
                .swiper-nav
                    .button-prev
                        em.lnr.lnr-chevron-left
                    .button-next
                        em.lnr.lnr-chevron-right