section.home-about
    .home-about__content
        .layer-1
            .layer-1__empty(setBackground="./img/home-bg-1.png")
            .layer-1__wf-image
                img(src="./img/home-bg-2.png", alt="")
                <svg class="section-divider" viewBox="0 0 28 520"><path fill="#fff" d="M1.028,0H0V520H.471C17.919,444.21,28,354.683,28,258.775,28,163.9,18.131,75.267,1.028,0Z"/></svg>
        .container 
            .layer-2
                .layer-2__content
                    h3.sub-title Giới thiệu Công ty Cổ Phần Dược Phẩm Thiên Dược 
                    h2.title Nhà máy sản xuất thuốc đã được Cục Quản lý dược - Bộ Y tế cấp giấy chứng nhận đạt tiêu chuẩn 
                        </br> 
                        strong GMP-WHO, GLP-WHO, GSP-WHO
                    p.brief-content Thiên Dược được thành lập từ Trung tâm Nghiên Cứu Phát Triển Sản Xuất Dược Phẩm CRINA trực thuộc Công ty Dược Liệu TW2, tổng giám đốc là Dược sĩ, tiến sĩ Nguyễn Thị Ngọc Trâm.
                    a(href="#").button-view  xem thêm 
                        em.lnr.lnr-arrow-right
                .layer-2__empty

    .home-about__content
        .layer-1 
            .layer-1__wf-image-1(setBackground="./img/home-bg.png")
                <svg class="section-divider" viewBox="0 0 28 520"><path fill="#d8f5df" d="M1.028,0H0V520H.471C17.919,444.21,28,354.683,28,258.775,28,163.9,18.131,75.267,1.028,0Z"/></svg>
            .layer-1__wf-image-2(setBackground="./img/home-bg-3.png")
        .container 
            .layer-2
                .layer-2__content
                    h2.title Vùng trồng dược liệu Trinh nữ hoàng cung của Thiên Dược là vùng trồng dược liệu đầu tiên ở Việt Nam đạt </br>
                        strong GACP-WHO
                    a.play-btn(href="") 
                        img(src="./img/play-btn.png", alt="")
                .layer-2__content
                    h3.sub-title Giới thiệu Công ty Cổ Phần Dược Phẩm Thiên Dược 
                    h2.title Nhà máy sản xuất thuốc đã được Cục Quản lý dược - Bộ Y tế cấp giấy chứng nhận đạt tiêu chuẩn GMP-WHO, GLP-WHO, GSP-WHO
                    p.brief-content Thiên Dược được thành lập từ Trung tâm Nghiên Cứu Phát Triển Sản Xuất Dược Phẩm CRINA trực thuộc Công ty Dược Liệu TW2, tổng giám đốc là Dược sĩ, tiến sĩ Nguyễn Thị Ngọc Trâm.
                    a(href="#").button-view  xem thêm 
                        em.lnr.lnr-arrow-right
        
