section.home-product
    .container 
        .home-product__title 
            h2.main-title Sản phẩm 
        .home-product__list 
            .home-product__item 
                .wrapper
                    a(href="").img 
                        img(src="./img/pro-1.png", alt="")
                    .caption 
                        a(href="").title Thiên hoàng sa 
                        p.brief-content Giảm đau rát, giúp co búi trĩ, làm bền vững thành mạch, cầm máu do bệnh trĩ gây ra. Hỗ trợ điều trị trĩ nội độ 1, 2, ngăn ngừa trĩ tái phát. Hỗ trợ điều trị và phòng ngừa táo bón
                        a(href="").detail-btn chi tiết 
                            em.lnr.lnr-arrow-right
            .home-product__item 
                .wrapper
                    a(href="").img 
                        img(src="./img/pro-1.png", alt="")
                    .caption 
                        a(href="").title Thiên hoàng sa 
                        p.brief-content Giảm đau rát, giúp co búi trĩ, làm bền vững thành mạch, cầm máu do bệnh trĩ gây ra. Hỗ trợ điều trị trĩ nội độ 1, 2, ngăn ngừa trĩ tái phát. Hỗ trợ điều trị và phòng ngừa táo bón
                        a(href="").detail-btn chi tiết 
                            em.lnr.lnr-arrow-right
            .home-product__item 
                .wrapper
                    a(href="").img 
                        img(src="./img/pro-1.png", alt="")
                    .caption 
                        a(href="").title Thiên hoàng sa 
                        p.brief-content Giảm đau rát, giúp co búi trĩ, làm bền vững thành mạch, cầm máu do bệnh trĩ gây ra. Hỗ trợ điều trị trĩ nội độ 1, 2, ngăn ngừa trĩ tái phát. Hỗ trợ điều trị và phòng ngừa táo bón
                        a(href="").detail-btn chi tiết 
                            em.lnr.lnr-arrow-right
            .home-product__item 
                .wrapper
                    a(href="").img 
                        img(src="./img/pro-1.png", alt="")
                    .caption 
                        a(href="").title Thiên hoàng sa 
                        p.brief-content Giảm đau rát, giúp co búi trĩ, làm bền vững thành mạch, cầm máu do bệnh trĩ gây ra. Hỗ trợ điều trị trĩ nội độ 1, 2, ngăn ngừa trĩ tái phát. Hỗ trợ điều trị và phòng ngừa táo bón
                        a(href="").detail-btn chi tiết 
                            em.lnr.lnr-arrow-right
    