section.album 
    .container 
        h2.main-title Truyền thông 
        ul.nav-sub 
            li.active 
                a(href="") Hình ảnh 
            li 
                a(href="") Video
        .album__gallery
            .row
                .col-sm-12.col-lg-6.left
                    .row.big 
                        .item
                            a(href="./img/news-1.png" data-fancybox="image")
                                figure
                                    .image
                                        img(src="./img/news-1.png", alt="alt")
                                    figcaption
                                        img(src="./img/view.png", alt="")
                                        h3 album 1
                                        
                    .row.small
                        .col-6
                            .item
                                a(href="./img/news-1.png" data-fancybox="image")
                                    figure                        
                                        .image
                                            img(src="./img/news-1.png", alt="alt")
                                        figcaption
                                            img(src="./img/view.png", alt="")
                                            h3 album 2
                        .col-6 
                            .item
                                a(href="./img/news-1.png" data-fancybox="image")
                                    figure                          
                                        .image
                                            img(src="./img/news-1.png", alt="alt")
                                        figcaption
                                            img(src="./img/view.png", alt="")
                                            h3 album 3
                .col-sm-12.col-lg-6.right
                    .row.small
                        .col-6 
                            .item
                                a(href="./img/news-1.png" data-fancybox="image")
                                    figure
                                        
                                        .image
                                            img(src="./img/news-1.png", alt="alt")
                                        figcaption
                                            img(src="./img/view.png", alt="")
                                            h3 album 4
                        .col-6 
                            .item
                                a(href="./img/news-1.png" data-fancybox="image")
                                    figure
                                        
                                        .image
                                            img(src="./img/news-1.png", alt="alt")
                                        figcaption
                                            img(src="./img/view.png", alt="")
                                            h3 album 5
                    .row.big 
                        .item
                            a(href="./img/news-1.png" data-fancybox="image")
                                figure
                                    .image
                                        img(src="./img/news-1.png", alt="alt")
                                    figcaption
                                        img(src="./img/view.png", alt="")
                                        h3 album 6