section.about 
    .about-nav
        .container
            a(href="javascript:void(0)" class="about-nav-trigger")
                .icon
            ul.about-nav__list
                li  
                    a.about-nav__link(href='#section-1') Người sáng lập 
                li    
                    a.about-nav__link(href='#section-2') Lịch sử hình thành 
                li    
                    a.about-nav__link(href='#section-3') Vùng trồng nhiên liệu & Nhà sản xuất 
                li    
                    a.about-nav__link(href='#section-4') Giải thưởng - Chứng nhận
    .main-content
        #section-1.section.section__1
            .box-content(setBackground="./img/about-1.png")
                .container
                    .content
                        h2.main-title Người sáng lập 
                        .name TS DS Hóa học Nguyễn Thị Ngọc Trâm
                        .quote “Lao động, nghiên cứu sáng tạo trong y học là niềm đam mê, là lẽ sống”
                        p Sinh ra trong một gia đình có truyền thống nghiên cứu khoa học, vì vậy từ nhỏ, TS. Nguyễn Thị Ngọc Trâm đã được cha dạy dỗ truyền đạt những kinh nghiệm, kiến thức, cũng như lòng say mê khoa học. Những bài học vỡ lòng đầu tiên từ mỗi câu chuyện kể của cha, gieo vào lòng bà tình yêu với khoa học, trở thành niềm khát vọng mà suốt cuộc đời bà khát khao vươn tới.

                        p Mong muốn lớn nhất trong sự nghiệp của mình là nghiên cứu những loại thuốc từ thảo dược Việt Nam.

                        p Dù đã bước qua tuổi 70, nhưng Tiến sĩ Nguyễn Thị Ngọc Trâm vẫn mạnh mẽ, dứt khoát bước đi kiểm tra trại dược liệu hơn 22ha của mình. Với Tiến sĩ Trâm, lao động, nghiên cứu sáng tạo trong y học là niềm đam mê, là lẽ sống,… để làm sao đem đến cho y học nhiều loại thuốc quý.
            .box-content
                .container
                    h2.main-title TS.DS. Nguyễn Thị Ngọc Trâm
                    ul.nav-sub 
                        li.active 
                            a(href="") Sự ngiệp 
                        li 
                            a(href="") Bằng khen và giải thưởng
                    .row.full-content 
                        .col-md-5.box-img 
                            img(src="./img/about-2.png", alt="")
                        .col-md-7.text 
                            h4 Học vị 
                            p Dược sĩ, Tiến sĩ hóa học - năm 1991 
                            h4 quá trình đào tạo 
                            ul.list-text
                                li Năm 1970 tốt nghiệp Trường Đại học Dược Khoa Hà Nội – Khoa Công Nghiệp Dược.
                                li Năm 1984-1985 Học Ngoại ngữ ở Trường Thanh Xuân Hà Nội.
                                li Năm 1985-1986 Học Ngoại ngữ ở Sofia - Bulgaria.
                                li Năm 1986-1990 Nghiên cứu sinh tại Trường Đại học Hoá Sofia – Bulgaria.
                                li Năm 1993-1996 Thực tập sinh cao cấp tại Viện Hàn Lâm Khoa học Bulgaria.
                    .row 
                        .col-md-12
                            .text 
                                h4 quá trình công tác
                                ul.list-text
                                    li Năm 1972 là cán bộ phụ trách kỹ thuật của phân xưởng thuốc nước thuộc Xí nghiệp Dược phẩm Hà Nội.
                                    li Từ tháng 7/1972 đến 1973 công tác tại Khoa Dược Bệnh viện Thanh Trì – Hà Nội, là Trưởng phòng bào chế. Trong quá trình công tác tại Bệnh viện Thanh Trì  đã có nhiều sáng kiến cải tiến kỹ thuật.
                                    li Từ năm 1974 đến 1984 công tác tại Uỷ Ban Bảo Vệ Bà Mẹ Trẻ Em TW.
                                    #section-showmore-content
                                        .list-text
                                            li Năm 1982 được kết nạp vào Đảng Cộng Sản Việt Nam.
                                            li Năm 1984 trúng tuyển kỳ thi tuyển chọn Nghiên cứu sinh toàn quốc.
                                            li Năm 1985 sang Nghiên cứu sinh tại Bulgaria.
                                            li Năm 1986-1990 là nghiên cứu sinh tại Trường Đại học Kỹ Thuật Hoá Sophia.
                                            li Năm 1990 đã bảo vệ thành công xuất sắc luận án Tiến sĩ xác định được thành phần và cấu trúc của 45 hợp chất có trong tinh dầu cây thảo quả Việt Nam. Được Hội đồng Khoa học Quốc gia Bulgaria đánh giá cao.
                                            li Năm 1991-1993 là trợ giảng  tại Trường Đại học Kỹ Thuật Hoá Sophia.
                                            li Năm 1994-1999 được Bộ Đại học cử đi thực tập sinh cao cấp tại Viện Hàn lâm khoa học Bulgaria để bảo vệ luận án Tiến sĩ khoa học.
                                            li Trong cùng thời gian 1990-2005 đã tham gia trong nhóm nghiên cứu các cây thuốc ở vùng Châu Á để tìm thuốc điều trị ung thư  và các khối u. Trong quá trình nghiên cứu đã có kết quả là viên thuốc Crila ra đời, được Hội đồng Khoa học Bộ Y Tế công nhận. Ngày 21/7/2005, Cục Quản Lý Dược đã có quyết định 135/QĐ-QLD cho phép lưu hành trên toàn quốc với số đăng ký VNB-3391-05 để điều trị bệnh phì đại lành tính tuyến tiền liệt. Ngày 23/10/2007 Cục Quản Lý Dược đã có công văn số 6104/QLD-ĐK bổ sung chỉ định điều trị u xơ tử cung của viên nang Crila.
                                            li Năm 1999 - 2008 là Giám Đốc Trung Tâm Nghiên cứu Phát triển Sản xuất Dược Phẩm CRINA trực thuộc Công ty Dược Liệu TW2.
                                            li Từ năm 2008 -2019 là Giám đốc Công ty TNHH Thiên Dược
                                            li Từ tháng 07/2019 đến nay là tổng giám đốc công ty Cổ Phần Dược Phẩm Thiên Dược        
                            .viewmore-btn
                                a#section-show-more(href="javascript:void(0)") xem thêm
        #section-2.section.section__2
            .about-history
                .about-history__content
                    .layer-1
                        .layer-1__empty(setBackground="./img/home-bg-1.png")
                        .layer-1__wf-image
                            img(src="./img/about-8.png", alt="")
                            <svg class="section-divider" viewBox="0 0 28 520"><path fill="#section-fff" d="M1.028,0H0V520H.471C17.919,444.21,28,354.683,28,258.775,28,163.9,18.131,75.267,1.028,0Z"/></svg>
                    .container 
                        .layer-2
                            .layer-2__content
                                h2.main-title Lịch sử hình thành
                                p Công ty Cổ Phần Dược Phẩm Thiên Dược được thành lập từ Trung tâm Nghiên Cứu Phát Triển Sản Xuất Dược Phẩm CRINA trực thuộc Công ty Dược Liệu TW2, tổng giám đốc là Dược sĩ, tiến sĩ Nguyễn Thị Ngọc Trâm.

                                p Ngày 
                                    span 27/04/2007 
                                    | Sở Kế Hoạch Đầu Tư TP.HCM đã cấp Giấy chứng nhận đăng ký kinh doanh số: 4102049620 cho Công ty TNHH Thiên Dược.
                            .layer-2__empty

                .about-history__content
                    .layer-1
                        .layer-1__wf-image-rotate
                            img(src="./img/about-3.png", alt="")
                            <svg class="section-divider" viewBox="0 0 28 520"><path fill="#section-d8f5df" d="M1.028,0H0V520H.471C17.919,444.21,28,354.683,28,258.775,28,163.9,18.131,75.267,1.028,0Z"/></svg>
                        .layer-1__empty(setBackground="./img/about-9.png")
                    .container 
                        .layer-2
                            .layer-2__content
                            .layer-2__content
                                p Để có điều kiện phát triển sản xuất kinh doanh bền vững và lâu dài, Công ty TNHH Thiên Dược đã chuyển Trụ sở chính và nhà máy sản xuất về Lô F3, đường N5, Khu công nghiệp Nam Tân Uyên, Phường Khánh Bình, Thị Xã Tân Uyên, Tỉnh Bình Dương và đã được phòng đăng ký kinh doanh Sở Kế Hoạch và Đầu Tư Tỉnh Bình Dương cấp giấy phép kinh doanh số: 
                                    span 4602003336 
                                    |ngày 
                                    span 03/03/2008.
                                p Từ ngày 
                                    span 03/07/2019 
                                    | đã chuyển đổi từ công ty TNHH Thiên Dược thành công ty cổ phần Dược Phẩm Thiên Dược với số đăng ký kinh doanh
                                    span 0304943782
        

        #section-3.section.section__3
            .container 
                h2.main-title Vùng trồng nguyên liệu & Nhà máy sản xuất
                ul.nav-sub 
                    li 
                        a(href="") Vùng trồng nguyên liệu 
                    li 
                        a(href="") Nhà máy sản xuất
                .row
                    .col-md-6
                        .box-img 
                            img(src="./img/about-4.png", alt="")
                    .col-md-6
                        .box-content 
                            .content 
                                h4 NHÀ MÁY SẢN XUẤT TIÊU CHUẨN GMP-WHO
                                p Công ty Cổ Phần Dược Phẩm Thiên Dược đã xây dựng nhà máy sản xuất thuốc trên diện tích 1ha tại địa điểm Lô F3, đường N5, KCN Nam Tân Uyên, phường Khánh Bình, thị xã Tân Uyên, tỉnh Bình Dương.

                                p Ngày 27/05/2010, nhà máy sản xuất thuốc của Công ty Thiên Dược đã được Cục Quản lý dược - Bộ Y tế cấp giấy chứng nhận đạt tiêu chuẩn GMP-WHO (Thực hành tốt sản xuất thuốc), GLP (Thực hành tốt phòng kiểm nghiệm thuốc), GSP (Thực hành tốt bảo quản thuốc).

                                h4 Nhà máy gồm 2 xưởng sản xuất
                                p Xưởng chiết xuất: năng lực sản xuất 1 tấn dược liệu/ngày để chiết xuất Alcaloid và Flavonoid từ lá cây Trinh nữ hoàng cung để làm nguyên liệu sản xuất viên Crila® và để chiết xuất các dược liệu khác.

                                p Xưởng bào chế: Công ty đã xây dựng hoàn chỉnh 1 dây chuyền sản xuất viên nang cứng để sản xuất viên Crila® và một số sản phẩm thực phẩm chức năng từ dược thảo Trinh nữ hoàng cung và các dược liệu khác đạt công suất 1.000.000 viên/ngày.

                                p Những sản phẩm tạo ra từ cụm công trình nghiên cứu về cây Trinh Nữ Hoàng Cung có hiệu quả điều trị cao và có giá thành phù hợp với bệnh nhân nghèo trong nước và trên thế giới.

                                p Nếu việc tổng hợp các hoạt chất hóa học để tạo ra các hoạt chất chữa bệnh sẽ thải ra môi trường các chất độc công nghệ tổng hợp. Thì việc nghiên cứu, chiết xuất các hoạt chất sinh học chữa bệnh từ các cây Trinh Nữ Hoàng Cung không những tránh làm ô nhiễm môi trường mà còn tái tạo môi trường, làm môi trường xanh sạch, góp phần giải quyết việc làm cho người dân lao động quanh vùng trồng.
        #section-4.section.section__4
            h2.main-title Giải thưởng - Chứng nhận
            .container
                .swiper-container
                    .swiper-wrapper 
                        .swiper-slide 
                            .wrapper
                                .box-img
                                    img(src="./img/about-6.png", alt="")
                                    .swiper-nav
                                        .button-prev
                                            em.lnr.lnr-chevron-left
                                        .button-next
                                            em.lnr.lnr-chevron-right
                                .box-content 
                                    .content
                                        h4 Hàng việt nam chất lượng cao 
                                        p Ngày 5/2/2015, tại TP. HCM, Thiên Dược cùng 519 doanh nghiệp trên cả nước đã được Hội Doanh nghiệp hàng Việt Nam chất lượng cao trao chứng nhận đạt danh hiệu Hàng Việt Nam Chất lượng cao năm 2015 do người tiêu dùng bình chọn.

                                        p Để đạt được danh hiệu HVNCLC, các doanh nghiệp phải thoả mãn những tiêu chí: chất lượng, nhãn hiệu xuất xứ, quyền lợi của người tiêu dùng, chăm lo cộng đồng, chăm lo người lao động, bảo vệ môi trường và đổi mới sáng tạo. Sau khi được người tiêu dùng tin tưởng sản phẩm và bình chọn, doanh nghiệp còn phải được cơ quan quản lý địa phương chứng nhận không có vi phạm một trong những tiêu chí trên thì mới được đưa vào danh sách xét duyệt
