section.product 
    .container 
        h2.main-title Sản phẩm
        .product__list 
            .product__item 
                .caption 
                    a(href="").title Thiên hoàng sa 
                    p.brief-content Giảm đau rát, giúp co búi trĩ, làm bền vững thành mạch, cầm máu do bệnh trĩ gây ra. Hỗ trợ điều trị trĩ nội độ 1, 2, ngăn ngừa trĩ tái phát. Hỗ trợ điều trị và phòng ngừa táo bón
                    a(href="").main-btn chi tiết 
                        em.lnr.lnr-arrow-right
                .img 
                    img(src="./img/pro-1.png", alt="")
            .product__item 
                .caption 
                    a(href="").title Thiên hoàng sa 
                    p.brief-content Giảm đau rát, giúp co búi trĩ, làm bền vững thành mạch, cầm máu do bệnh trĩ gây ra. Hỗ trợ điều trị trĩ nội độ 1, 2, ngăn ngừa trĩ tái phát. Hỗ trợ điều trị và phòng ngừa táo bón
                    a(href="").main-btn chi tiết 
                        em.lnr.lnr-arrow-right
                .img 
                    img(src="./img/pro-1.png", alt="")
            .product__item 
                .caption 
                    a(href="").title Thiên hoàng sa 
                    p.brief-content Giảm đau rát, giúp co búi trĩ, làm bền vững thành mạch, cầm máu do bệnh trĩ gây ra. Hỗ trợ điều trị trĩ nội độ 1, 2, ngăn ngừa trĩ tái phát. Hỗ trợ điều trị và phòng ngừa táo bón
                    a(href="").main-btn chi tiết 
                        em.lnr.lnr-arrow-right
                .img 
                    img(src="./img/pro-1.png", alt="")
            .product__item 
                .caption 
                    a(href="").title Thiên hoàng sa 
                    p.brief-content Giảm đau rát, giúp co búi trĩ, làm bền vững thành mạch, cầm máu do bệnh trĩ gây ra. Hỗ trợ điều trị trĩ nội độ 1, 2, ngăn ngừa trĩ tái phát. Hỗ trợ điều trị và phòng ngừa táo bón
                    a(href="").main-btn chi tiết 
                        em.lnr.lnr-arrow-right
                .img 
                    img(src="./img/pro-1.png", alt="")
            