extends _layout.pug

block var
	- var title = 'advisory'
	- var bodyClass = 'advisory-page'

block main
	include ../components/_global/banner-sub
	include ../components/_global/breadcrumb
	include ../components/advisory/index
