extends _layout.pug

block var
	- var title = 'hệ thống cửa hàng'
	- var bodyClass = 'dealer-page'

block main
	include ../components/_global/banner-sub
	include ../components/_global/breadcrumb
	include ../components/dealer/index
