extends _layout.pug

block var
	- var title = 'album'
	- var bodyClass = 'album-page'

block main
	include ../components/_global/banner-sub
	include ../components/_global/breadcrumb
	include ../components/album/index
