extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	include ../components/home/banner/index
	include ../components/home/about/index
	include ../components/home/product/index
	include ../components/home/gt/index
	include ../components/home/news/index
	include ../components/home/newsletter/index





