extends _layout.pug

block var
	- var title = 'News detail'
	- var bodyClass = 'News-page'

block main
	include ../components/_global/banner-sub
	include ../components/_global/breadcrumb
	include ../components/news/detail/index
