extends _layout.pug

block var
	- var title = 'Product'
	- var bodyClass = 'Product-page'

block main
	include ../components/_global/banner-sub
	include ../components/_global/breadcrumb
	include ../components/product/index





