section.home-certify
    .container 
        h2.main-title Chứng nhận - Giải thưởng 
        p.sub-title Trong suốt quá trình thành lập và phát triển, Thiên Dược đã đạt được rất nhiều giải thưởng và chứng nhận có giá trị
        img(src="./img/home-bg-4.png", alt="")
        a.main-btn(href="#") xem thêm 
            em.lnr.lnr-arrow-right
            