section.product-detail 
    .container 
        .product-detail__inner
            .product-detail__slider 
                .thumbnail-wrap
                    .product-button-up
                        em.lnr.lnr-chevron-up
                    .product-button-down
                        em.lnr.lnr-chevron-down
                    .swiper-container.gallery-thumbs
                        .swiper-wrapper 
                            .swiper-slide 
                                .img
                                    img(src="./img/pro-4.png", alt="")
                            .swiper-slide 
                                .img
                                    img(src="./img/pro-4.png", alt="")
                            .swiper-slide 
                                .img
                                    img(src="./img/pro-4.png", alt="")
                .swiper-container.gallery-top
                    .swiper-wrapper 
                        .swiper-slide 
                            .img
                                img(src="./img/pro-4.png", alt="")
                        .swiper-slide 
                            .img
                                img(src="./img/pro-4.png", alt="")
                        .swiper-slide 
                            .img
                                img(src="./img/pro-4.png", alt="")
            .product-detail__info 

                h3.title crila 
                .brief-content 
                    p CRILA được sử dụng cho bệnh U xơ tử cung ở nữ và bệnh Phì đại lành tính tuyến tiền liệt ở nam, giảm các triệu chứng của bệnh phì đại tuyến tiền liệt (đi tiểu khó, đi tiểu nhiều lần vào ban đêm).
                    table 
                        tr 
                            td Đóng gói 
                            td Hộp 4 chai x 40 viên nang. Hộp 05 túi nhôm x 02 vỉ x 10 viên nang cứng

                        tr 
                            td Bảo quản
                            td Bảo quản nơi khô mát, tránh ánh sáng
                        tr 
                            td Hạn dụng
                            td 24 tháng kể từ ngày sản xuất.
                    .social-icon 
                        .like 
                            span Thích 
                            span 0 
                        .share 
                            span Chia sẽ
        .product-detail__information
            .row 
                .col-md-8 
                    .contain
                        .tab-wrapper
                            ul.detail-navigation 
                                li.tab-link(data-tab='tab-1' title="Thông tin sản phẩm ") Giới thiệu
                                li.tab-link(data-tab='tab-2' title="Thông tin kỹ thuật") Thông tin kỹ thuật
                                li.tab-link(data-tab='tab-3' title="Thông tin khác") Thông tin khác
                        .tab-content#tab-1.noi-dung
                            .content 
                                p Crila là viên thuốc đầu tiên trên thế giới có tác dụng đối với bệnh u xơ tử cung và là một trong ba viên thuốc điều trị Phì đại lành tính tuyến tiền liệt được sản xuất từ dược thảo Việt Nam.

                                p Nguyên liệu sản xuất Thuốc Crila được thu hái từ vùng trồng đạt tiêu chuẩn GACP-WHO đầu tiên của Việt Nam. Nguồn dược liệu sạch, ổn định về hoạt tính sinh học, đã xác định đúng thành phần hóa học, đã xác định đúng về mặt thực vật học, đạt về hàm lượng hoạt chất sinh học, được bào chế và chiết xuất tại nhà máy của công ty TNHH Thiên Dược đạt tiêu chuẩn GMP-WHO.
                            table 
                                thead
                                    tr
                                        th Năm 
                                        th Giải thưởng
                                tbody
                                    tr 
                                        td 20/05/2016
                                        td Viên nang Crila - Huy chương vàng sản phẩm chất lượng vì sức khỏe cộng đồng
                                    tr 
                                        td 20/05/2016
                                        td Viên nang Crila - Huy chương vàng sản phẩm chất lượng vì sức khỏe cộng đồng
                                    tr 
                                        td 20/05/2016
                                        td Viên nang Crila - Huy chương vàng sản phẩm chất lượng vì sức khỏe cộng đồng
                                    tr 
                                        td 20/05/2016
                                        td Viên nang Crila - Huy chương vàng sản phẩm chất lượng vì sức khỏe cộng đồng
                            .viewmore-btn
                                a(href="").main-btn xem thêm 
                        .tab-content#tab-2.noi-dung
                    .faq-accordion
                        h1.main-title Câu hỏi thường gặp
                        ul.accordions
                            -for(i=0; i<10; i++)
                                li.accordion-item
                                    .accordion-title
                                        span.number #{i+1}. 
                                        | Sử dụng thuốc CRILA có ảnh hưởng gì tới tim mạch – huyết áp – khả năng hoạt động tình dục không?
                                        i.lnr.lnr-chevron-down
                                    .accordion-content
                                        p Viên nang Crila không ảnh hưởng đến hoạt động tim mạch và huyết áp. Chúng tôi đã thực hiện các nghiên cứu ở nước ngoài và ở bộ môn dược lý, sau khi tiến hành các thử nghiệm và đi đến kết luận: viên nang Crila không ảnh hưởng đến hoạt động tim mạch và huyết áp, an toàn cho người sử dụng. Còn đối với hoạt động tình dục ở nam giới, qua kết quả thử nghiệm trên nhiều bệnh nhân và trong suốt thời gian một năm không có một trường hợp nào thấy có ảnh hưởng đến hoạt động tình dục. Để có căn cứ khoa học chúng tôi đã tiến hành nghiên cứu  đề tài này và tập thể khoa học tham gia đề tài đã kết luận rằng viên nang Crila không gây ảnh hưởng xấu đến đời sống hoạt động tình dục của bệnh nhân.
                                        
                .col-md-4
                    .form-wrap 
                        .form__img 
                            img(src="./img/pro-bg-1.png", alt="")
                        .form(setBackground="./img/pro-bg-2.png")
                            .title Câu hỏi của bạn
                            form
                                .form-group
                                    input(type="text", placeholder="Họ tên")
                                .form-group
                                    input(type="text", placeholder="Email")
                                .form-group
                                    input(type="text", placeholder="Số điện thoại")
                                .form-group
                                    input(type="text", placeholder="Tiêu đề")
                                .form-group
                                    textarea(name="", cols="30", rows="10", placeholder="Nội dung")
                                .form-group.frm-btnwrap
                                    .frm-btn
                                        input(type="submit", value="Gửi")
    .other-product 
        h2.main-title Sản phẩm khác
        .container 
            .other-product__slider
                .swiper-container 
                    .swiper-wrapper 
                        -for(i=0; i<5; i++)
                            .swiper-slide
                                .other-product__item 
                                    .box-img 
                                        img(src="./img/pro-1.png", alt="")
                                    a.title(href="") Crilin@ 
                                    .overlay 
                                        a.title-ol(href="") Crilin@ 
                                        a.main-btn(href="") Chi tiết 
                                            em.lnr.lnr-arrow-right
                .swiper-nav
                    .button-prev
                        em.lnr.lnr-chevron-left
                    .button-next
                        em.lnr.lnr-chevron-right
                                            