<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu trái" value="1" resourcefile="" />
      <add name="Menu phải" value="2" resourcefile="" />
      <add name="Menu footer1" value="4" resourcefile="" />
      <add name="Menu footer2" value="8" resourcefile="" />
      <add name="news Navigation" value="16" resourcefile="" />
      <add name="Truyền thông Navigation" value="32" resourcefile="" />
      <add name="About Navigation" value="64" resourcefile="" />
      <add name="about" value="128" resourcefile="" />
      <add name="Tư vấn filter" value="256" resourcefile="" />
      <add name="home about" value="512" resourcefile="" />

      <add name="product footer" value="1024" resourcefile="" />






      
    </position>

</settings>