section.home-newsletter 
    .home-newsletter__inner 
        .newsletter(setBackground='./img/home-bg-5.png')
            .content
                h3 Đăng ký nhận tài liệu 
                p Công ty Thiên Dược sẽ gửi tài liệu về tận nhà cho Quý khách hàng hoàn toàn MIỄN PHÍ.
                a(href="").main-btn đăng ký 
                    em.lnr.lnr-arrow-right
        .newsletter(setBackground='./img/home-bg-6.png')
            .content
                h3 Hệ thông phân phối
                p Trải dài khắp 48 tỉnh thành với hơn 2000 đại lý, 200 điểm bán và 20 hệ thống siêu thị, cửa hàng tiện lợi.
                a(href="").view-btn xem mạng lưới
                    em.lnr.lnr-arrow-right
        
