section.news 
    .container 
        h2.main-title Tin nổi bật
        ul.nav-sub 
            li.active 
                a(href="" title="Sự ngiệp") Sự ngiệp 
            li 
                a(href="" title="Bằng khen và giải thưởng") Bằng khen và giải thưởng  
        .news__list.clearfix
            .news__item 
                a(href="").img 
                    img(src="./img/news-1.png", alt="")
                .caption 
                    date 20/11
                    a(href="").title Nữ tiến sĩ dành cả đời vì ngành dược Thuần Việt 
            .news__item 
                a(href="").img 
                    img(src="./img/news-1.png", alt="")
                .caption 
                    date 20/11
                    a(href="").title Nữ tiến sĩ dành cả đời vì ngành dược Thuần Việt 
            .news__item 
                a(href="").img 
                    img(src="./img/news-1.png", alt="")
                .caption 
                    date 20/11
                    a(href="").title Nữ tiến sĩ dành cả đời vì ngành dược Thuần Việt 
            .news__item 
                a(href="").img 
                    img(src="./img/news-1.png", alt="")
                .caption 
                    date 20/11
                    a(href="").title Nữ tiến sĩ dành cả đời vì ngành dược Thuần Việt
            .news__item 
                a(href="").img 
                    img(src="./img/news-1.png", alt="")
                .caption 
                    date 20/11
                    a(href="").title Nữ tiến sĩ dành cả đời vì ngành dược Thuần Việt
            .news__item 
                a(href="").img 
                    img(src="./img/news-1.png", alt="")
                .caption 
                    date 20/11
                    a(href="").title Nữ tiến sĩ dành cả đời vì ngành dược Thuần Việt
            .news__item 
                a(href="").img 
                    img(src="./img/news-1.png", alt="")
                .caption 
                    date 20/11
                    a(href="").title Nữ tiến sĩ dành cả đời vì ngành dược Thuần Việt
            