section.home-news 
    .container 
        .home-news__inner 
            h2.main-title Tin tức
            .home-news__list.clearfix
                .home-news__item 
                    a(href="").img 
                        img(src="./img/news-1.png", alt="")
                    .caption 
                        date 20/11
                        a(href="").title Nữ tiến sĩ dành cả đời vì ngành dược Thuần Việt 
                .home-news__item 
                    a(href="").img 
                        img(src="./img/news-1.png", alt="")
                    .caption 
                        date 20/11
                        a(href="").title Nữ tiến sĩ dành cả đời vì ngành dược Thuần Việt 
                .home-news__item 
                    a(href="").img 
                        img(src="./img/news-1.png", alt="")
                    .caption 
                        date 20/11
                        a(href="").title Nữ tiến sĩ dành cả đời vì ngành dược Thuần Việt 
            .button-view
                a.main-btn(href="") xem thêm 
                    em.lnr.lnr-arrow-right